:root{
     --Dark-cyan: hsl(185, 75%, 39%);
     --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
     --Dark-grayish-blue: hwb(227 10% 46%);
     
}

body{background-color:var(--Dark-cyan);
     
}

    
.card{position: absolute;
     top:50%;
     left: 50%;
     transform: translate(-50%, -50%); 
     background-color: white;
     border-radius: 20px;
     width: 400px;
     height: 450px;  
     text-align: center;
    
}

.victor{border-radius: 50%;
          border: 5px solid white;
          position: absolute;
          left: 50%;
          top:40%;
          transform: translate(-50%, -50%);
   
  
}
.blue{border-radius: 20px 20px 0 0;
     width: 400px;
     height: 40%;
}

h1{font-family: "Kumbh Sans";
     font-size: 18px;
     margin-top: 55px;
     color: var(--Very-dark-desaturated-blue);
     font-weight: 700;
    
}
span{font-weight: lighter;}

p{color: var(--Very-dark-desaturated-blue);
     font-family: "Kumbh Sans";
}

.london{margin-bottom: 50px;}

.numbers{
     position: absolute;
     bottom: 0%;
     width: 100%;
     display: flex;
     justify-content: space-evenly;
}



.k{font-weight: 700;
     margin-bottom: -10px;
     font-size: 20px;
}

@media(max-width:560px){
     body{width: 80vw;}

}